/*GLOBAL*/
* {
  background-color: #0c151d;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/*TEXT FONTS AND COLOR*/
.info_name {
  color: #f1f2f4;
  font-size: 46px;
  font-weight: 500;
  line-height: 69px;
}
/*p and h2 tags*/
.exp_item,
.view_select_text,
.button_text,
.footer_text,
.info_position {
  color: #a3abb2;
  font-size: 22px;
  line-height: 33px;
  background-color: transparent;
}

.exp_number {
  font-size: 24px;
}

/*MOBILE*/
@media (max-width: 600px) {
  .info_name {
    font-size: 32px;
    line-height: 48px;
  }
  .exp_item,
  .view_select_text,
  .button_text,
  .footer_text,
  .info_position {
    font-size: 14px;
    line-height: 21px;
  }
  .exp_number {
    font-size: 16px;
    line-height: 24px;
  }
}
/*TABLET*/
@media (max-width: 900px) {
  .info_name {
    font-size: 40px;
    line-height: 48px;
  }
  .exp_item,
  .view_select_text,
  .button_text,
  .footer_text,
  .info_position {
    font-size: 20px;
    line-height: 21px;
  }
  .exp_number {
    font-size: 22px;
    line-height: 24px;
  }
}

/*BODY*/
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

/*SETTINGS SECTION*/
.settings {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 33px;
}
.settings .colorMode {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #171f26;
  border-radius: 50%;
  height: 80px;
  width: 80px;
}
.settings .colorMode .img img {
  height: 40px;
  width: 40px;
}
/*MOBILE*/
@media (max-width: 600px) {
  .settings .colorMode {
    height: 48px;
    width: 48px;
    margin-bottom: 30px;
  }
  .settings .colorMode .img img {
    height: 24px;
    width: 24px;
  }
}
/*TABLET*/
@media (max-width: 1024px) {
  .settings .colorMode {
    height: 60px;
    width: 60px;
    margin-bottom: 40px;
  }
  .settings .colorMode .img img {
    height: 30px;
    width: 30px;
  }
}

/*PROFILE SECTION*/
/*User section*/
section.profile {
  display: flex;
  flex-direction: column;
}
@media (max-width: 600px) {
  section.profile {
    margin-top: 30px;
    width: 100vw;
  }
}
section.profile .user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/*Profile pic*/
section.profile .user .img {
  height: 215px;
  width: 215px;
  display: flex;
  align-items: flex-end;
}
section.profile .user .img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/*Info section*/
section.profile .user .info {
  margin-left: auto;
  margin-right: auto;
  width: 372px;
  height: 156px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
section.profile .user .info > .info_position,
section.profile .user .info > .social_media {
  padding-top: 10px;
}

section.profile .user .info .social_media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 222px;
  height: 36px;
}
/*MOBILE*/
@media (max-width: 600px) {
  /*User section*/
  section.profile .user {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  section.profile .user .img {
    height: 124px;
    width: 124px;
  }
  section.profile .user .info {
    align-items: center;
    justify-items: flex-end;
    height: 113px;
    margin-top: 40px;
  }

  section.profile .user .info > .info_position,
  section.profile .user .info > .social_media {
    padding: 0px;
    margin: 0px;
  }
  section.profile .user .info .social_media {
    justify-content: space-between;
    width: 174px;
    height: 24px;
  }
  section.profile .user .info .social_media .icon .icon_img {
    width: 24px;
    height: 24px;
  }

}
/*TABLET*/
@media (max-width: 1024px){
    /*User section*/
    section.profile .user {
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
    section.profile .user .img {
      height: 200px;
      width: 200px;
    }
    section.profile .user .info {
      align-items: center;
      justify-items: flex-end;
      height: 113px;
      margin-top: 40px;
    }
  
    section.profile .user .info > .info_position,
    section.profile .user .info > .social_media {
      padding: 0px;
      margin: 0px;
    }
    section.profile .user .info .social_media {
      justify-content: space-between;
      width: 174px;
      height: 24px;
      padding-top: 5px;
    }
    section.profile .user .info .social_media .icon .icon_img {
      width: 28px;
      height: 28px;
    }
}

/*Experience section*/
section.profile .experience {
  width: 634px;
  height: 142px;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

section.profile .experience > .exp_item {
  text-align: center;
}

/*MOBILE*/
@media (max-width:600px) {
   /*Experience section*/
   section.profile .experience{
    width: 375px;
    height: auto;
    margin-top: 30px;
    align-items: center;
    justify-content: space-between;
  }
}
/*TABLET*/
@media (max-width: 1024px) {
  /*Experience section*/
  section.profile .experience{
    width: 90vw;
    height: auto;
    align-items: center;
    justify-content: space-between;
  }
}

/*Buttons section*/
section.profile .buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 47px;
  margin-left: auto;
  margin-right: auto;
  width: 618px;
  height: 80px;
}
section.profile .buttons > .CV,
section.profile .buttons > .contact_info {
  width: 290px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
section.profile .buttons .CV {
  background-color: #ffe071;
}
section.profile .buttons .CV > .button_text,
section.profile .buttons .CV > img {
  color: #3d3d3d;
  background-color: #ffe071;
}
section.profile .buttons .contact_info {
  background-color: #171f26;
}
/*MOBILE*/
@media (max-width:600px) {
  section.profile .buttons {
    margin-top: 30px;
    width: 375px;
    padding: 18px 20px;
  }
  section.profile .buttons > .CV,
  section.profile .buttons > .contact_info {
    width: 158px;
    height: 44px;
  }
}
/*TABLET*/	  
@media (max-width: 1024px) {
  section.profile .buttons {
    margin-top: 30px;
    width: 90vw;
    padding: 18px 20px;

  }
  section.profile .buttons > .CV,
  section.profile .buttons > .contact_info {
    width: 45%;
    height: 60px;
  }
}
/*MAIN SECTION*/
main div.view_select {
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 756px;
  height: 132px;
  border-radius: 20px;
  background-color: #171f26;
}

div.view_select .view_option {
  width: 349.6px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #171f26;
}

#active {
  background-color: #0c151d;
}
/*MOBILE*/
@media (max-width:600px) {
  main div.view_select {
    width: 330px;
    height: 64px;
    margin-top: 30px;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
  }
  div.view_select .view_option {
    width: 154px;
    height: 50.3px;
  }
  .download_icon{
    width: 16px;
    height: 14px;
  }
}
/*TABLET*/
@media (max-width: 1024px) {
  main div.view_select {
    width: 90vw;
    height: auto;
    margin-top: 30px;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
  }
  div.view_select .view_option {
    width: 45%;
    height: 60px;
  }
  .download_icon{
    width: 20px;
    height: 20px;
  }
}

.portfolio {
  margin-top: 65px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 78px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 757px;
  height: 826px;
}
.portfolio .portfolio_img {
  width: 362px;
  height: 226px;
  border-radius: 15px;
}
/*MOBILE*/
@media (max-width:600px) {
  
  .portfolio {
    margin-top: 30px;
    height: auto;
    width: 375px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    justify-content: center;
  }
  .portfolio .portfolio_img {
    width: 340px;
    height: 216px;
    border-radius: 15px;
    margin-bottom: 30px;
  }
}
/*TABLET*/
@media (max-width: 1024px){
  .portfolio {
    height: auto;
    width: 90vw;
    margin-bottom: 30px;
    justify-content: center;
  }
  .portfolio .portfolio_img {
    width: 80vw;
    height: auto;
    border-radius: 15px;
    margin-bottom: 30px;
  }
}

/*UP BUTTON*/
.button_up{
  display: none;
 
}
.up_icon{
  display: none;
  object-fit: contain;
  background-color: #ffe071;
}
@media (max-width:600px) {
  .button_up{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 10px;
    bottom: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ffe071;
    z-index: 1;
  }
  .up_icon{
    display: block;
    object-fit: contain;
    background-color: #ffe071;
    width: 50%;
    height: 50%;
  }
}

/*FOOTER*/
.footer {
  width: 463px;
  height: 33px;
  margin-bottom: 80px;
}
@media (max-width:600px) {
  .footer {
    width: 295px;
    height: 21px;
    margin-bottom: 40px;
  }

}
