body {
  font-family: "Poppins", sans-serif;
  background-color: #e5e5e5;
  text-align: center;
  margin: 0;
  padding: 0;
}

.dark--mode {
  background-color: #0c151d;
}

li {
  list-style: none;
}
/* Darkmode icon */
header {
  padding: 33px 0;
}

.btn-mode {
  display: inline-block;
  background: none;
  border: none;
  border-radius: 50px;
}
.btn-mode__dark {
  display: none;
  background: none;
  border: none;
  border-radius: 50px;
}

.header--icon {
  height: 33.35px;
  width: 33.4px;
  color: #3d3d3d;
  background-color: #ffffff;
  padding: 23.32px;
  border-radius: 50%;
}

.header--icon__dark {
  height: 33.35px;
  width: 33.4px;
  color: #3d3d3d;
  background-color: #171f26;
  padding: 23.32px;
  border-radius: 50%;
}

/* Profile information */

.profile--info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 20px 0;
  gap: 40px;
}

.profile--picture {
  width: 192px;
  height: 192px;
  border-radius: 50%;
  border: 4px solid #f7d039;
  padding: 8px;
  background-color: #ffffff;
}

.profile--information {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.profile--information__dark {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}

.profile--name {
  font-size: 46px;
  color: #3d3d3d;
  line-height: 0;
}

.profile--name__dark {
  font-size: 46px;
  color: #f1f2f4;
  line-height: 0;
}

.profile--information__p {
  font-size: 22px;
  color: #575757;
  line-height: 0;
}

.profile--information__dark {
  font-size: 22px;
  color: #a3abb2;
  line-height: 0;
}

.profile--socialMedia {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 26px;
  width: 222px;
  height: 36px;
}

.profile--socialMedia__icon > img {
  width: 30px;
  height: auto;
}

/* Main information */

.main--information {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main--information__profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 2px;
  gap: 90px;
}

.main--information__number {
  color: #3a3a3a;
  font-size: 24px;
  line-height: 36px;
  margin: 0;
}

.main--information__data {
  font-size: 22px;
  line-height: 33px;
  color: #575757;
  margin: 0;
}
/* Main information dark */
.main--information__dark {
  color: #a3abb2;
  display: none;
  flex-direction: column;
  align-items: center;
}

.main--information__numberDark {
  font-size: 24px;
  line-height: 36px;
  margin: 0;
}

.main--information__dataDark {
  font-size: 22px;
  line-height: 33px;
  margin: 0;
}

.main--information__buttons {
  width: 618px;
  height: 80px;
  margin: 8px 0;
  display: flex;
  justify-content: space-between;
}

.main--information__btn {
  width: 290px;
  height: 80px;
  border: none;
  font-size: 22px;
  line-height: 33px;
  font-weight: 600;
  border-radius: 10px;
}

.main--information__btn > img {
  width: 17.99px;
  height: 20px;
}

.btn--yellow {
  color: #3d3d3d;
  background: #fbd144;

  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.btn--white {
  color: #3d3d3d;
  background: #ffffff;
}

.btn--grey {
  color: #a3abb2;
  background: #171f26;
}

/* Projects */

.main--projects__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 28px 0;
}

.projects--button {
  font-size: 22px;
  line-height: 33px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 760px;
  height: 110px;
  background: #ffffff;
  border-radius: 20px;
  margin: 50px 0;
  color: #19191b;
}

.projects--buttonDark {
  font-size: 22px;
  line-height: 33px;
  font-weight: 600;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 760px;
  height: 110px;
  background: #171f26;
  border-radius: 20px;
  margin: 50px 0;
  color: #a3abb2;
}

.projects--btn {
  font-size: 22px;
  line-height: 33px;
  font-weight: 600;
  width: 351.45px;
  height: 80px;
  background-color: #d7d7d7;
  color: #19191b;
  border-radius: 10px;
  border: none;
  padding: 0;
  margin: 0 19px;
}

.projects--btnDark {
  font-size: 22px;
  line-height: 33px;
  font-weight: 600;
  width: 351.45px;
  height: 80px;
  background-color: #0c151d;
  color: #a3abb2;
  border-radius: 10px;
  border: none;
  padding: 0;
  margin: 0 19px;
}

.projects--button > p {
  width: 351.45px;
}
.projects--buttonDark > p {
  width: 351.45px;
}
.project--container__pictures {
  max-width: 757px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  height: 780px;
}

/* Cards hover text */

.container--card__overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  justify-content: center;
  background-color: #ffe071;
  width: 362px;
  height: 226px;
  top: 0;
  opacity: 0;
  transition: transform 0.4s ease 0s;
  border-radius: 15px;
}

.project--container__card:hover .container--card__overlay {
  opacity: 0.88;
}

.project--container__card {
  position: relative;
  overflow: hidden;
}

.overlay--card__title {
  font-size: 22px;
}

.container--card__img {
  width: 362px;
  height: 226px;
}

.overlay--card__text {
  font-size: 14px;
}

.overlay--card__link {
  width: 38px;
  height: 38px;
  padding: 0;
  color: #3d3d3d;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 18px;
}

/* Back to top button */
.btn--top {
  display: none;
}
.btn--scroll_top {
  background: none;
  border: none;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 50%;
}

/* Footer */

footer {
  padding: 80px 0;
  font-size: 22px;
  line-height: 33px;
}

.footer--white {
  color: #575757;
}
.footer--dark {
  display: none;
  color: #a3abb2;
}
footer > p {
  margin: 0;
}
