:root {
  --main-bg-color: #e5e5e5;
  --btn-bg-color: #ffffff;
  --nav-txt-color: #19191b;
  --sub-txt-color: #575757;
  --nav-btn-color: #d7d7d7;
  --h1-color: #3d3d3d;
  --prof-btn-color: #3d3d3d;
  --yellow-btn-tone: #fbd144;
  --brightness: 1;
}

/* RESET CSS */
* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

/*------------------*
*       BASIC       *
* ------------------*/

body {
  background: var(--main-bg-color);
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 130%;
  line-height: 130%;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  background: var(--btn-bg-color);
  border-radius: 20px;
  margin: 5rem;
}

nav button {
  border-radius: 10px;
  margin: .5vh .5vw;
  background: var(--btn-bg-color);
  border: none;
  color: var(--nav-txt-color);
  height: 13vh;
  width: 28vw;
}

nav button:hover {
  background: var(--main-bg-color);
}

main {
  width: 60vw;
  height: auto;

}

footer {
  text-align: center;
  color: var(--sub-txt-color);
  filter: brightness(var(--brightness));
}

div {
  margin: 1rem;
}

button {
  border-radius: 10px;
  font-size: 110%;
}

button:hover {
  cursor: pointer;
}

h1 {
  color: var(--h1-color);
  margin: 0;
  font-size: 46px;
  line-height: 69px;
}

h2 {
  color: var(--sub-txt-color);
  margin: 0;
  font-size: 22px;
  line-height: 33px;
  filter: brightness(var(--brightness));
}

a {
  text-decoration: none;
}

strong {
  font-size: 24px;
  line-height: 36px;
}