/* GLOBAL STYLES */

body {
  /* definition of light theme colors */
  --light-background: #e9ebec;
  --non-changing-white: #ffffff;
  --white: #ffffff;
  --picture-yellow: #f7d039;
  --button-yellow: #fbd144;
  --black: #19191b;
  --darker-grey: #3a3a3a;
  --dark-grey: #3d3d3d;
  --light-grey: #575757;
  --very-light-grey: #d7d7d7;
  --contact-dark-grey: #3d3d3d;
  --download-cv-dark-grey: #3d3d3d;

  /* other body styles */
  background-color: var(--light-background);
  font-family: "Poppins";
  font-style: normal;
  text-align: center;
  font-size: 22px;
}

.container {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
}

/* .dark class redefines colors for the dark theme. 
this class will be added upon clicking the light/dark mode button. */
.dark {
  --light-background: #0c151d;
  --non-changing-white: #ffffff;
  --white: #171f26;
  --picture-yellow: #ffe071;
  --button-yellow: #ffe071;
  --black: #a3abb2;
  --darker-grey: #a3abb2;
  --dark-grey: #f1f2f4;
  --light-grey: #a3abb2;
  --very-light-grey: #0c151d;
  --contact-dark-grey: #a3abb2;
  --download-cv-dark-grey: #3d3d3d;
}

/* SPECIFIC STYLES */

/* light-dark-mode icon */
.header__light-dark-mode-button {
  width: 33.4px;
  height: 33.35px;
  padding: 23.32px;
  border-radius: 50%;
  background: var(--white);
  margin: 33px 0 77px 0;
}

.header__light-dark-mode-button:hover {
  cursor: pointer;
}

/* profile main info (picture, name, role) */

.basic-info {
  width: 700px;
  margin: 0px auto;
}

.basic-info__wrapper {
  margin: 0px auto;
  text-align: left;
}

.basic-info__profile-picture {
  height: 192px;
  width: 192px;
  padding: 8px;
  background-color: var(--non-changing-white);
  border-color: var(--picture-yellow);
  border-style: solid;
  border-width: 4px;
  border-radius: 50%;
  margin-right: 40px;
}

.basic-info__name {
  font-weight: 500;
  font-size: 46px;
  color: var(--dark-grey);
  margin: 29.5px 0 0 0;
}

.basic-info__role {
  font-weight: 500;
  font-size: 22px;
  color: var(--light-grey);
  margin-top: 0;
}

/* social media icons */
.basic-info__icons img {
  height: 30px;
  width: auto;
  margin-right: 32px;
}

/* achievements (7 years of work experience, etc) */
.achievements__item {
  margin: 68px 45px;
  width: 155px;
  height: auto;
}

.achievements__item__number {
  color: var(--darker-grey);
}

.achievements__item__feat {
  color: var(--light-grey);
}

/* hiring info (download CV, contact me buttons) */

.hiring-links__download-cv,
.hiring-links__contact {
  width: 290px;
  height: 80px;
  border-radius: 2.76% / 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 19px;
  border-color: transparent;
  font-family: "Poppins";
  font-style: normal;
  text-align: center;
  font-size: 22px;
}

.hiring-links__download-cv:hover,
.hiring-links__contact:hover {
  cursor: pointer;
}

.hiring-links__contact {
  background-color: var(--white);
  color: var(--contact-dark-grey);
}

.hiring-links__download-cv {
  background-color: var(--button-yellow);
  color: var(--download-cv-dark-grey);
}

.hiring-links__download-cv-text {
  margin: 0px 25px;
}

/* portfolio + skills buttons */

.content__buttons {
  width: 760px;
  height: 110px;
  border-radius: 2.9% / 20%;
  background-color: var(--white);
  margin: 86px auto 76px auto;
  align-items: center;
  justify-content: space-around;
  color: var(--black);
}

.content__buttons__skills-button,
.content__buttons__portfolio-button {
  width: 351.45px;
  height: 80px;
  border-radius: 2.34% / 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content__buttons__portfolio-button {
  background-color: var(--very-light-grey);
}

/* projects */

.content__projects__list {
  flex-wrap: wrap;
  width: 900px;
  margin: 0 auto;
}

.content__projects__item {
  width: 362px;
  height: 226px;
  margin: 0 16px 48px 16px;
}

/* footer */

.footer {
  color: var(--light-grey);
  margin: 130px auto 80px auto;
}
